<html>
<body>
  <form action = "/editrat/{{ query.rat_number }}" method = "POST">
    <label for="name">Rat Name:</label>
    <input type = "text" name = "rat_name" value = "{{ query.rat_name }}">
    <label for="rat_number">Rat Number:</label>
    <input type = "number" min = "0" name = "rat_number" value = "{{ query.rat_number }}"> 
    <input type = "submit" value = "Update">
  </form>
  <form action = "/deleterat/{{ query.rat_number }}" method = "POST">
    <input type = "submit" value = "Delete">
  </form>
</body>
</html>